numpy==1.20.2
pandas==1.2.2
matplotlib==3.3.4
plotnine==0.7.1
mizani==0.7.2
plotly==4.14.3
pandas-profiling
ppscore==1.2.0
pyjanitor==0.20.14
statsmodels
scikit-learn==0.23.2
sklearn-pandas==2.0.4
scikit-misc==0.1.4
sktime==0.5.3
pmdarima==1.8.1
tsfresh==0.17.0
zict==1.0.0
joblib==1.0.1
fastapi==0.63.0
uvicorn==0.13.4
sqlalchemy==1.4.7
xlsxwriter==1.3.7
openpyxl
jupyterlab==3.0.13
jupyterlab-server==2.4.0
jupyter-packaging==0.7.12
jupyter-server==1.15.4
ipywidgets==7.6.3
ipympl==0.7.0
jupytext
papermill==2.3.3
pandoc
rich
pandas_flavor==0.2.0
radian
jedi==0.17.2